/*ONSEN SETUP*/

.tabbar__badge.notification {
	background-color: transparent;
	color: white;
}

.pageTitleBar {
	height: 1em;
	padding: 0.3em;
	font-size: small;
	font-variant: small-caps;
	text-align: center;
	background-color: lightgrey;
	border-bottom: 1px solid darkgrey;
}
.commandBar {
	animation: fade 2s ease-in-out;

	display: flex;
	position: fixed;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 0.5em;
	bottom: 0;
	left: 0;
	right: 0;
	border-top: 1px solid lightgrey;

	justify-content: space-between;
	visibility: hidden;

	/*	display: none;*/
}
.commandBar .printButton {
	margin-right: 20px;
}
.commandBar .saveButton {
	/*	margin-right: 20px;*/
	background-color: rgba(30, 250, 30, 0.9);
}
.commandBar .saveButton.disabled {
	background-color: rgba(180, 180, 180, 0.9);
	pointer-events: none;
}
.commandBar .abortButton {
	background-color: rgba(255, 100, 100, 0.9);
	margin-right: 20px;
}

.docItem .center {
	overflow-x: clip;
}
.docItem .controlArea {
	position: absolute;
	right: 0.25em;
}

.assignButton {
	background-color: rgba(30, 180, 30, 0.9);
}
.deleteButton {
	background-color: rgba(255, 100, 100, 0.9);
}
.addButton.altState {
	background-color: rgba(180, 180, 180, 0.9);
}

.jobControls {
	display: flex;
	width: fit-content;
	flex-wrap: nowrap;
	float: left;
	padding-right: 0.25em;
}

.alert-dialog-content {
	max-height: 80vh;
	overflow-y: scroll;
}

#p_docRender .renderCanvas {
	padding: 1em;
	padding-bottom: 100px;
	right: 5%;
}

#p_docView .renderCanvas {
	padding: 1em;
	padding-bottom: 100px;
	right: 5%;
}

#p_accountPage .username {
	font-size: x-large;
}

#p_accountPage .renderCanvas {
	text-align: center;
}

#p_accountPage .userImage {
	content: url("../images/240px-Gnome-stock_person.png");
	width: 60%;
	padding-top: 10%;
}

.list-item__thumbnail {
	border-radius: 0.2em;
}
/*Item Styling*/

.controlItem {
	width: 100%;
}
.controlItem .subGroupContainer {
	/* margin-left: 1em; */
	break-before: always;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	flex: 1 0 50%;

	/* justify-content: space-evenly;
	
	flex-wrap: wrap;
	flex-direction: row; */
}
.subGroupContainer .formItem_checkbox {
	flex-grow: 1;
	padding: 5pt;
}
.itemHeader {
	width: 100%;
	border-bottom: 1px solid darkgrey;
	background-color: lightgrey;
}
.itemTitle {
	font-weight: bold;
	font-size: small;
}
.itemDesc {
	font-size: small;
	font-weight: lighter;
}
.itemResponse {
	justify-self: right;
	display: block;
	white-space: nowrap;
	text-align: right;
	break-after: always;
	flex-grow: 1;
	order: 2;

	/*float: inline-end;*/
}
.signatureBox {
	padding: 0;
	border: 2px solid darkgray;
}

.toolbarIcon {
	content: url("../bar_logo.png");
	height: auto;
	display: inline-block;
	position: absolute;
	top: 0.2em;
	bottom: 0.2em;
	margin: 0.5em;
}
.toolbarUserName {
	padding-right: 0.2em;
	padding-left: 0.2em;
	/* border: 1px dotted grey;*/
	background-color: #eeeeee;
	border-radius: 0.4em;
	position: absolute;
	margin: 0.5em;
	right: 0.1em;
	font-weight: 400;
	bottom: 0em;

	font-variant: small-caps;
	font-size: medium;
	text-overflow: clip;
}
.toolbarUserIcon {
	position: relative;
	margin: 0em;
	right: 0em;
	bottom: -3px;

	content: url("../images/240px-Gnome-stock_person.png");
	width: 2em;
	height: 2em;
}
/* 
.hasInteracted {
	background-color: #70c270;
} */

.invalidated {
	background-color: #ffeeee;
	border: 1px dotted #ffdddd;
}
.range {
	width: 100%;
}
.lModalMessage {
	transition: visible 1s linear;
}
.userIsSelected {
	background-color: lightgreen;
	border: 1px dotted green;
}
.debugpane {
	position: absolute;
	padding: 0.2em;
	background-color: rgba(255, 96, 96, 0.3);
	bottom: 1px;
	font-size: x-small;
	right: 1px;
	z-index: 500;
}
.subDocItem {
	scale: 50%;
	
	/*
	display: inherit;*/
}


.printableDocument .titleBlock {
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	border-bottom: 1px dotted lightgrey;
	vertical-align: text-top;
}
.printableDocument .subtitleBlock {
	display: flex;
	justify-content: space-between;
	font-weight: bold;

	vertical-align: text-top;
}
.subtitleBlock .pageSubTitle {
	font-weight: lighter;
}
.pageAuthor {
	display: flex;
	font-weight: lighter;
}

.debugBorder {
	border: 1px dotted red;
	background-color: salmon;
}
/* FIXES FOR RANGE INPUT SCROLLING */

/*
input[type=range] {
  pointer-events:none;
}
input[type=range]::-webkit-slider-thumb {
  pointer-events:auto;
}*/